.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.root {
    -fx-background-color: #00000;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #ffbb00;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-field {
    width: 300px;
    height: 40px;
    border: 2px solid #00a0e9;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333; outline: none;
}

.table-view{
    -fx-background-color: #00000;
    -fx-text-fill: #ffffff;
}

.image-view {
    -fx-border-color: #000000;
    -fx-border-width: 5px;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #00a0e9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.combo-box .arrow {
    -fx-background-color: #00a0e9;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #ffbb00;
    -fx-text-fill: #000000;
}
