.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.root {
    -fx-background-color: #00000;
}

.label {
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #ffbb00;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-size: 14px; /* Tamaño de fuente, ajusta según tus preferencias */
    -fx-text-fill: black; /* Color del texto */
    -fx-prompt-text-fill: gray; /* Color del texto de marcador de posición */

    /* Hacer transparentes los bordes izquierdo, derecho y superior */
    -fx-border-width: 0 0 4 0;
    -fx-border-color: transparent transparent #ffbb00 transparent;
}

.text-field:focused {
    /* Estilo para el estado enfocado, si es necesario */
}

.text-field:hover {
    /* Estilo para el estado de hover, si es necesario */
}

.table-view{
    -fx-background-color: #00000;
    -fx-text-fill: #ffffff;
}

.image-view {
    -fx-border-color: #000000;
    -fx-border-width: 5px;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #00a0e9;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.combo-box .arrow {
    -fx-background-color: #00a0e9;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #ffbb00;
    -fx-text-fill: #000000;
}

/* Estilo para DatePicker */
.date-picker {
    -fx-border-color: #00a0e9; /* Color de fondo del DatePicker */
    -fx-text-fill: #ffffff; /* Color del texto del DatePicker */
    -fx-border-width: 2px;
}

/* Estilo para Spinner */
.spinner {
    -fx-background-color: #00a0e9; /* Color de fondo del Spinner */
    -fx-text-fill: #000000; /* Color del texto del Spinner */
}
